.projects {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  background: var(--bg);
  padding-bottom: 50px;

  .projectsTitle {
    padding: 75px 15px 50px;
    font-size: 2.75rem;
    text-align: center;
    color: var(--text);
  }

  .projectsCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    .projectCard {
      width: 350px;
      height: 300px;
      margin: 25px 15px 15px;
      border: 1px solid rgb(255 255 255 / 0.1);

      transition: 0.3s ease-in-out;

      &:hover {
        border: 1px solid rgb(255 255 255 / 0.75);
        box-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 5px 20px #fff;
      }

      .projectTitle {
        padding: 25px;
        color: var(--text);
        font-size: 1.5rem;
      }

      .projectDescription {
        display: -webkit-box;
        padding: 0 25px;
        height: 55px;
        margin:  15px 0 65px;
        color: var(--text);
        line-height: 1.7;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .updatedAt {
        padding: 0 25px;
        color: #b4a4a5;
      }

      .linkRepo {
        display: flex;
        align-items: center;
        padding: 0 25px;
        margin-bottom: 20px;

        transition: 0.3s ease-in-out;

        .linkIcon {
          filter: invert(100%);
        }

        .projectLink {
          display: flex;
          align-items: center;
          color: #fff;
          margin-left: 5px;

          transition: 0.3s ease-in-out;

          &:hover {
            filter: brightness(0.85);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .projects {
    height: auto;
    min-height: auto;
    padding-bottom: 0;

    .projectsTitle {
      padding: 40px 15px 35px;
      font-size: 2rem;
    }

    .projectsCards {
      justify-content: center;

      .projectCard {
        width: 300px;
        height: 250px;
        margin: 15px;
        text-align: center;

        .projectTitle {
          padding: 20px 15px;
          font-size: 1.25rem;
        }

        .projectDescription {
          padding: 10px 15px;
          margin-bottom: 35px;
          font-size: 1rem;
          line-height: 1.5;
        }

        .linkRepo {
          padding: 0 15px;
          justify-content: center;

          .projectLink {
            color: #fff;
          }
        }
      }
    }
  }
}
