.hero {
  position: relative;
  display: flex;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
  z-index: 10;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background: url(/stars.webp);
    background-size: cover;
    transform: translateX(-100%);
    z-index: -1;

    animation: translateBefore 295s infinite ease-in-out alternate;

    @keyframes translateBefore {
      from {
        transform: translateX(-100%);
      }
      to {
        transform: translateX(0);
      }
    }
  }

  &::after {
    position: absolute;
    content: "";
    inset: 0;
    background: url(/stars.webp);
    background-position: center;
    background-size: cover;

    z-index: -1;

    animation: translate 295s infinite ease-in-out alternate;

    @keyframes translate {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(100%);
      }
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;

    span {
      display: block;
      font-size: 20px;
      color: var(--text);

      & + span {
        margin-top: 15px;
      }
    }

    .name {
      margin: 50px 0 20px;
      font-size: 28px;
    }

    .cv {
      margin: 20px;
      padding: 12px 12px;
      border-radius: 3px;
      background-color: var(--bg-button-mobile);
      text-decoration: none;
      color: var(--text-lighter);
      font-size: 18px;
      text-shadow: 1px 0 2px var(--text);
      border: 1px solid var(--text);

      transition: 0.5s ease-in-out;
    }

    .cv:hover {
      box-shadow: 0 0 5px #fff, 0 0 17px #fff,
        0 0 37px rgba(255, 255, 255, 0.445);
      border: 1px solid var(--border);
    }

    .social {
      display: flex;

      a {
        margin: 0 15px;
      }

      a:first-child {
        position: absolute;
        bottom: 12px;
        left: 0;
      }

      img {
        transition: 0.4s ease-in-out;
      }

      img:hover {
        transform: scale(1.06);
      }
    }
  }

  .photo {
    position: relative;
    width: 50%;
    background-image: url(/profile.webp);
    background-size: cover;
    background-position: center center;

    &::after {
      position: absolute;
      content: "";
      inset: 0;
      top: 70%;
      background: linear-gradient(to bottom, transparent, var(--bg));
      z-index: 5;
    }
  }
}

@media screen and (max-width: 1366px) {
  .hero .text .social img {
    width: 125px;
    height: 125px;
  }
}

@media screen and (max-width: 765px) {
  .hero {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      background: url(/stars.webp);
      background-size: cover;
      transform: translateX(-100%);
      z-index: -1;

      animation: translateBefore 45s infinite ease-in-out alternate;

      @keyframes translateBefore {
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(0);
        }
      }
    }

    &::after {
      position: absolute;
      content: "";
      inset: 0;
      background: url(/stars.webp);
      background-size: cover;

      z-index: -1;

      animation: translate 45s infinite ease-in-out alternate;

      @keyframes translate {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(100%);
        }
      }
    }

    .text {
      span {
        font-size: 1rem;
        color: var(--text);
      }

      span:first-child {
        margin-top: 0;
      }

      .name {
        margin: 35px 0 0;
        font-size: 1.5rem;
      }

      .cv {
        padding: 10px 10px;
        margin: 35px 0;
        background-color: var(--bg-button-mobile);
        border: none;
        font-size: 1rem;
        font-weight: 400;
        color: #fff;
      }

      .social {
        img {
          width: 90px;
          height: 90px;
        }

        a {
          margin: 0 5px;
        }

        a:first-child {
          bottom: 35px;
          left: calc(50% - 45px);
        }
      }
    }
  }
}
