:root {
  --bg: #151515;
  --bg-button: #525252;
  --bg-button-mobile: #5248488f;
  --border: #d4d2d2;
  --text: #b2b2b2;
  --text-darker: #706a6a;
  --text-lighter: #d3caca;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Libre Baskerville, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("../../assets/fonts/LibreBaskerville-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("../../assets/fonts/LibreBaskerville-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

input,
button {
  font-family: Libre Baskerville, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: var(--bg-button-mobile);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bg);
  border-radius: 12px;
  border: 1px solid var(--border);
}
