.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  padding: 25px 0 30px;
  background-color: var(--bg);

  .contactTitle {
    font-size: 2.75rem;
    color: var(--text);
  }

  .contactContent {
    display: flex;
    margin-top: 45px;

    .formSide {
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
        margin-top: 25px;

        input {
          width: 600px;
          height: 50px;
          padding-left: 15px;
          color: #fff;
          background-color: #272727;
          border: none;

          &::placeholder {
            color: var(--text-darker);
          }

          & + input {
            margin-top: 35px;
          }
        }

        textarea {
          width: 600px;
          height: 200px;
          padding: 15px;
          margin-top: 35px;
          color: #fff;
          background-color: #272727;
          resize: none;

          &::placeholder {
            color: var(--text-darker);
          }
        }

        img {
          margin-top: 30px;
          animation: rotate 1s infinite linear;
        }

        .formError {
          margin: 15px 0;
          color: red;
          font-weight: bold;
        }

        .spinner {
          padding-top: 40px;
        }

        @keyframes rotate {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }

        button {
          width: 200px;
          height: 55px;
          margin-top: 40px;
          border: none;
          background-color: var(--bg-button);
          color: var(--text-lighter);
          font-size: 1rem;
          font-weight: bold;
          cursor: pointer;

          transition: 0.3s ease-in-out;

          &:hover {
            box-shadow: 0 0 3px #fff;
            border: 1px solid #fff;
            background-color: var(--text);
            color: var(--text-darker);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .contact {
    .contactTitle {
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 765px) {
  .contact {

    .contactTitle {
      margin-top: 50px;
      font-size: 2rem;
      text-align: center;
    }

    .contactContent {
      width: 100%;
      padding-bottom: 40px;
      justify-content: center;

      .formSide {
        width: inherit;

        form {
          width: 90%;
          margin: 0 auto;
          max-width: 700px;

          .formTitle {
            font-size: 1rem;
            margin: 15px;
          }

          input {
            width: 95%;
          }

          textarea {
            width: 95%;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}
