.heroSocial {
    margin: 50px auto 0;
    width: 100%;
    max-width: 900px;

    ul {
        display: flex;
        gap: 20px;  
        list-style: none;

        li {

            img {
                transition: transform .4s ease-in-out;

                &:hover {
                    transform: scale(1.55);
                }
            }

        }
    }
}

@media screen and (max-width: 1150px) {
    .heroSocial {
        ul {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}